.bg-dark-blue {
    background-color: #003366; 
  }
  
  .btn-dark-blue {
    background-color: #003366; 
    border-color: #003366; 
    color: white; 
  }
  
  .btn-dark-blue:hover {
    background-color: #002244; 
    border-color: #002244;
  }
  