/* Center text in the accordion button and apply a custom font */
.custom-accordion-button {
    font-family: 'DM Serif Display', serif;
    font-size: 1.25rem; /* Adjust as needed */
    text-align: center; /* Center text horizontally */
    display: flex;
    align-items: center; /* Center text vertically */
    justify-content: center; /* Center text horizontally */
    padding: 0.75rem 1.25rem; /* Adjust padding to suit your design */
    color: #ffffff !important; /* Text color */
    background-color: #02095e !important; /* Background color */
    border: none !important; /* Remove default border */
    box-shadow: none !important; /* Remove default box-shadow */
}

/* Button hover effect */
.custom-accordion-button:hover {
    color: #ffffff !important;
    background-color: #041a8b !important; /* A slightly darker shade */
}

/* Button focus state */
.custom-accordion-button:focus {
    box-shadow: none !important; /* Remove default focus box-shadow */
}

/* Invert the color of the arrow (if applicable) */
.custom-accordion-button::after {
    filter: invert(1); /* Invert the color to make the arrow white */
}
.custom-button {
    display: inline-block; /* Ensure buttons are inline */
    width: 150px; /* Adjust width as needed */
    padding: 0.5rem; /* Adjust padding to make buttons slimmer */
    text-align: center; /* Center text horizontally */
    font-size: 1rem; /* Font size adjustment */
    border-radius: 0.25rem; /* Rounded corners */
    border: none; /* Remove default border */
}

/* Edit button styling */
.custom-button-edit {
    background-color: #007bff; /* Blue color for edit button */
    color: #ffffff; /* Text color */
}

.custom-button-edit:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

/* Delete button styling */
.custom-button-delete {
    background-color: #6c757d; /* Gray color for delete button */
    color: #ffffff; /* Text color */
}

.custom-button-delete:hover {
    background-color: #5a6268; /* Darker gray on hover */
}
.blurred {
    filter: blur(5px);
    pointer-events: none; /* Prevent interaction with blurred content */
}

